.container{
    margin: 45px auto ;
    max-width: 50vw;
}
.center{
    /* align-items: center; */
    text-align: center;
    color: aqua;
}

@media only screen and (max-width: 660px){
	/*Big smartphones [426px -> 600px]*/


  .container{
    margin: 26px auto;
    max-width: 80vw;




 
}
}